<div class="content">
    <h2>{{user?.userId? 'Update User Record': 'Submit A New User Record'}}</h2>
    <div class="user-form">
        <form class="example-form" [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
            <mat-form-field class="example-full-width">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="Leonard" formControlName="firstName">
                <mat-error *ngIf="!formGroup.controls['firstName'].valid && formGroup.controls['firstName'].touched">
                    {{ "firstName is required" }}
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Chohen" formControlName="lastName">
                <mat-error *ngIf="!formGroup.controls['lastName'].valid && formGroup.controls['lastName'].touched">
                    {{ "last Name is required" }}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Phone</mat-label>
                <input matInput type="tel" placeholder="054-634-5886" formControlName="phone">
                <mat-error *ngIf="!formGroup.controls['phone'].valid && formGroup.controls['phone'].touched">
                    {{ "phone Name is required at valid path e.g : 054-634-5886" }}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Age</mat-label>
                <input type="number" matInput placeholder="64" formControlName="age">
                <mat-error *ngIf="!formGroup.controls['age'].valid && formGroup.controls['age'].touched">
                    {{ "age Name is required ! [18-75]" }}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Address</mat-label>
                <input matInput placeholder="Maui, street of love" formControlName="address">
                <mat-error *ngIf="!formGroup.controls['address'].valid && formGroup.controls['address'].touched">
                    {{ "address Name is required" }}
                </mat-error>
            </mat-form-field>
            <div class="buttons">
                <button mat-button type="submit"
                    [disabled]="!formGroup.valid">{{user?.userId? 'Update': 'Submit'}}</button>
                <button mat-button (click)="resetForm($event)">Cancel</button>
            </div>
        </form>
    </div>
</div>