.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & .user-form {
    padding-top: 15px;
    height: 100%;
    width: 50%;
    border-radius: 30px;
    background-color: rgb(241, 193, 208);
  }
}

.example-form {
  min-width: 150px;
  width: 100%;
}

.example-full-width {
  width: 80%;
}
.buttons {
  display: flex;
  justify-content: space-around;
}
h2 {
  color: white;
  font-weight: 300;
}
